/data/{{ MYSQL_container_name }}/slow.log {
    missingok
    daily
    compress
    dateext
    notifempty
    sharedscripts
    prerotate
      if [ "$(docker ps -q -f name={{ MYSQL_container_name }})" ]; then
         pt-query-digest /data/{{ MYSQL_container_name }}/slow.log > "/srv/mysql-slow-reports/{{ MYSQL_container_name }}-pt-report$(date +"_%Y-%m-%d").txt"
      fi
    endscript
    postrotate
      if [ "$(docker ps -q -f name={{ MYSQL_container_name }})" ]; then
          /usr/bin/docker kill --signal=SIGHUP {{ MYSQL_container_name }} >/dev/null 2>&1
      fi
    endscript
    rotate {{ MYSQL_rotate }}
}