[mysqld]
skip-name-resolve
{% if MYSQL_event_scheduler is defined %}event_scheduler={{ MYSQL_event_scheduler }}{{ '\n' }}{% endif %}
{% if MYSQL_innodb_buffer_pool_instances is defined %}innodb_buffer_pool_instances={{ MYSQL_innodb_buffer_pool_instances }}{{ '\n' }}{% endif %}
{% if MYSQL_innodb_buffer_pool_size is defined %}innodb_buffer_pool_size={{ MYSQL_innodb_buffer_pool_size }}{{ '\n' }}{% endif %}
{% if MYSQL_innodb_flush_log_at_trx_commit is defined %}innodb_flush_log_at_trx_commit={{ MYSQL_innodb_flush_log_at_trx_commit }}{{ '\n' }}{% endif %}
{% if MYSQL_innodb_log_file_size is defined %}innodb_log_file_size={{ MYSQL_innodb_log_file_size }}{{ '\n' }}{% endif %}
{% if MYSQL_innodb_temp_data_file_path is defined %}innodb_temp_data_file_path={{ MYSQL_innodb_temp_data_file_path }}{{ '\n' }}{% endif %}
{% if MYSQL_join_buffer_size is defined %}join_buffer_size={{ MYSQL_join_buffer_size }}{{ '\n' }}{% endif %}
{% if MYSQL_long_query_time is defined %}long_query_time={{ MYSQL_long_query_time }}{{ '\n' }}{% endif %}
{% if MYSQL_max_connections is defined %}max_connections={{ MYSQL_max_connections }}{{ '\n' }}{% endif %}
{% if MYSQL_slow_query_log is defined %}slow_query_log={{ MYSQL_slow_query_log }}{{ '\n' }}{% endif %}
{% if MYSQL_slow_launch_time is defined %}slow_launch_time={{ MYSQL_slow_launch_time }}{{ '\n' }}{% endif %}
{% if MYSQL_native_authentication is defined %}default_authentication_plugin={{ MYSQL_native_authentication }}{{ '\n' }}{% endif %}
{% if MYSQL_tmp_table_size is defined %}tmp_table_size={{ MYSQL_tmp_table_size }}{{ '\n' }}{% endif %}
{% if MYSQL_query_cache_size is defined %}query_cache_size={{ MYSQL_query_cache_size }}{{ '\n' }}{% endif %}
{% if MYSQL_query_cache_type is defined %}query_cache_type={{ MYSQL_query_cache_type }}{{ '\n' }}{% endif %}
slow_query_log_file=/var/lib/mysql/slow.log

max_connections                              = 50
connect_timeout                              = 5
wait_timeout                                 = 6000
max_allowed_packet                           = 64M
thread_cache_size                            = 128
sort_buffer_size                             = 512KB
bulk_insert_buffer_size                      = 16M
tmp_table_size                               = 120M
max_heap_table_size                          = 120M

sql_mode                                      = NO_ENGINE_SUBSTITUTION,TRADITIONAL

character-set-server                         = utf8
collation-server                             = utf8_general_ci
character_set_server                         = utf8
collation_server                             = utf8_general_ci
init-connect                                 = 'SET NAMES utf8'
init_connect                                 = 'SET collation_connection = utf8_general_ci'
skip-character-set-client-handshake

query_cache_limit                            = 128K
query_cache_size                             = 32M

log_warnings                                 = 2

default_storage_engine                       = InnoDB
#innodb_log_file_size                        = 50M
innodb_buffer_pool_size                      = 9M
innodb_log_buffer_size                       = 1M
innodb_file_per_table                        = 1
innodb_open_files                            = 400
innodb_io_capacity                           = 400
innodb_flush_method                          = O_DIRECT

[isamchk]
key_buffer                                   = 16M

