server {
    listen 80;
    listen [::]:80;

    root /var/www/{{ NGINX_server_name }};
    set $php_sock unix:/var/run/php/php7.4-fpm.sock;
    index index.php;

    server_name {{ NGINX_server_name }};

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass $php_sock;
        index index.php;
    }
}