{% if NGINX_to_https_redirect == false %}
    {% if NGINX_to_www_redirect == true or NGINX_from_www_redirect == true %}
    server {
            listen 80;
            server_name {% if NGINX_from_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }};
            server_tokens off;
            return 301 http://{% if NGINX_to_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }}$request_uri;
        {% if NGINX_ssl_letsencypt == true %}
        location ^~ /.well-known/acme-challenge/ {
            default_type "text/plain";
            root /etc/letsencrypt;
            try_files $uri $uri/ =404;
            auth_basic          off;
        }
        {% endif %}
    }
    {% endif %}
  {% endif %}
{% if NGINX_to_https_redirect == false %}
server {
        server_name {% if NGINX_to_www_redirect == true -%}www.{{ NGINX_server_name }}{% else -%}{{ NGINX_server_name }}{% endif -%};
        server_tokens off;
        access_log /var/log/nginx/{{ NGINX_server_name }}.access.log;
        resolver 8.8.8.8;
{% if NGINX_xss_prevention == true %}
        add_header X-Frame-Options "{{ NGINX_x_frame_options }}";
        add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Robots-Tag none;
        add_header Content-Security-Policy-Report-Only "default-src 'self'; connect-src 'self' {% if '-tms' in inventory_hostname %}wss://{{ NGINX_server_name }}:8082{% endif %}; script-src https: 'unsafe-eval' 'unsafe-inline'; style-src https: 'unsafe-inline'; img-src https: data:; font-src https: data:; report-uri /csp-report";
{% endif %}
{% if NGINX_cors_enable == true %}
        add_header 'Access-Control-Allow-Origin' 'https://*.googleapis.com';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
{% endif %}
        client_max_body_size 50m;
        gzip on;
        gzip_disable "msie6";
        gzip_comp_level 9;
        gzip_min_length 1100;
        gzip_buffers 16 8k;
        gzip_proxied any;
        gzip_types
            text/plain
            text/css
            text/js
            text/xml
            text/javascript
            application/javascript
            application/x-javascript
            application/json
            application/xml
            application/xml+rss;
        root /usr/share/nginx;
        location / {
        {% if NGINX_cache_data == true %}
            expires 1M;
        {% endif %}
        {% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst }} nodelay;
        {% endif %}
        {% if NGINX_gen_htpasswd %}
            # Base auth
            auth_basic "Restricted";
            auth_basic_user_file /etc/nginx/htpasswd_{{ NGINX_server_name }};
        {% endif %}
            # needed to forward user's IP address
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 50m;
            # needed for HTTPS
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   "{{ NGINX_x_forwarded_proto }}";
            proxy_set_header        Host                $http_host;
{% if NGINX_pass_header == true %}
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% endif %}
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass {{ NGINX_proto | default('http') }}://{{ NGINX_proxy_ip | default('127.0.0.1') }}:{{ NGINX_proxy_port }};
            break;
        }
{% if NGINX_static_content == true %}
        location /wp-content/ {
            root /data/git/{{ WORDPRESS_git_repo_name }}/webcontent;
            aio threads;
{% if NGINX_cache_data == true %}
            expires 1y;
{% endif %}
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst_stat }} nodelay;
{% endif %}
        }
{% endif %}
{% if NGINX_cache_data == true %}
        location ~* ^.+\.(ogg|ogv|svg|svgz|eot|otf|mp4|ttf|rss|atom|jpeg|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
            expires 1M;
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst_stat }} nodelay;
{% endif %}
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 20m;
            # needed for HTTPS
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass http://127.0.0.1:8080;
            break;
        }
        location ~* ^.+\.(css|js|png|jpg|gif|woff2|woff)$ {
            expires 1y;
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst_stat }} nodelay;
{% endif %}
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 20m;
            # needed for HTTPS
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass http://127.0.0.1:8080;
            break;
        }
{% endif %}
{% if NGINX_pma_port is defined %}
        location ^~ /pma/ {
            allow   141.101.6.204;
            deny    all;
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 50m;
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass http://{{ NGINX_proxy_ip }}:{{ NGINX_pma_port }}/;
            break;
        }
{% endif %}
{% if NGINX_websocket_enable == true %}
        location /{{ NGINX_websocket_location }}/ {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass {{ NGINX_websocket_proxy_proto | default('http') }}://{{ NGINX_websocket_proxy_ip | default(NGINX_proxy_ip) }}{% if NGINX_websocket_proxy_port is defined %}:{{ NGINX_websocket_proxy_port }}{% else %}/ws/{% endif %};
            proxy_read_timeout 1800;
            break;
        }
{% endif %}
{% endif %}
{% if NGINX_to_https_redirect == true %}
server {
        listen 80;
        server_name {% if NGINX_from_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }};
        server_tokens off;
    {% if NGINX_ssl_letsencypt == true %}
    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /etc/letsencrypt;
        try_files $uri $uri/ =404;
        auth_basic          off;
    }
    {% endif %}
        return 301 https://{% if NGINX_to_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }}$request_uri;
}
{% if NGINX_from_www_redirect == true or NGINX_to_www_redirect == true %}
server {
        listen 80;
        server_name {% if NGINX_to_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }};
        server_tokens off;
    {% if NGINX_ssl_letsencypt == true %}
    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /etc/letsencrypt;
        try_files $uri $uri/ =404;
        auth_basic          off;
    }
    {% endif %}
        return 301 https://{% if NGINX_to_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }}$request_uri;
}
server {
        listen 443 ssl {% if NGINX_with_http2 == true %}http2{% endif %};
        ssl on;
        ssl_certificate /etc/nginx/ssl/{{ NGINX_server_name }}.crt;
        ssl_certificate_key /etc/nginx/ssl/{{ NGINX_server_name }}.key;
        ssl_stapling on;
        ssl_session_timeout 24h;
        ssl_protocols TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_dhparam /etc/ssl/certs/dhparam.pem;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:ECDHE-RSA-AES128-GCM-SHA256:AES256+EECDH:DHE-RSA-AES128-GCM-SHA256:AES256+EDH:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
        server_name {% if NGINX_from_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }};
        server_tokens off;
        return 301 https://{% if NGINX_to_www_redirect == true %}www.{% endif %}{{ NGINX_server_name }}$request_uri;
}
{% endif %}
{% endif %}

{% if NGINX_to_https_redirect == true %}
server {
        server_name {% if NGINX_to_www_redirect == true %}www.{{ NGINX_server_name }}{% else %}{{ NGINX_server_name }}{% endif %};
        server_tokens off;
        access_log /var/log/nginx/{{ NGINX_server_name }}.access.log;
        {% if NGINX_proxy_crt is defined and NGINX_proxy_key is defined or NGINX_ssl_letsencypt == true -%}
        listen {{ NGINX_ssl_port|default('443') }} ssl {% if NGINX_with_http2 == true %}http2{% endif %};
{% if NGINX_to_https_redirect == true %}
        ssl on;
        ssl_certificate /etc/nginx/ssl/{{ NGINX_server_name }}.crt;
        ssl_certificate_key /etc/nginx/ssl/{{ NGINX_server_name }}.key;
        ssl_stapling on;
        ssl_session_timeout 24h;
        ssl_protocols TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_dhparam /etc/ssl/certs/dhparam.pem;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:ECDHE-RSA-AES128-GCM-SHA256:AES256+EECDH:DHE-RSA-AES128-GCM-SHA256:AES256+EDH:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
{% endif -%}
        {% endif -%}
        resolver 8.8.8.8;
{% if NGINX_xss_prevention == true %}
        add_header X-Frame-Options "{{ NGINX_x_frame_options }}";
        add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Robots-Tag none;
        add_header Content-Security-Policy-Report-Only "default-src 'self'; connect-src 'self' {% if '-tms' in inventory_hostname %}wss://{{ NGINX_server_name }}:8082{% endif %}; script-src https: 'unsafe-eval' 'unsafe-inline'; style-src https: 'unsafe-inline'; img-src https: data:; font-src https: data:; report-uri /csp-report";
{% endif %}
{% if NGINX_cors_enable == true %}
        add_header 'Access-Control-Allow-Origin' 'https://*.googleapis.com';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
{% endif %}
        client_max_body_size 50m;
        gzip on;
        gzip_disable "msie6";
        gzip_comp_level 9;
        gzip_min_length 1100;
        gzip_buffers 16 8k;
        gzip_proxied any;
        gzip_types
            text/plain
            text/css
            text/js
            text/xml
            text/javascript
            application/javascript
            application/x-javascript
            application/json
            application/xml
            application/xml+rss;
{% if NGINX_try_files is defined %}
        try_files {{ NGINX_try_files }};
{% endif %}
{% if NGINX_index is defined %}
        index {{ NGINX_index }};
{% endif %}
        root {{ NGINX_root }};
        location {{ NGINX_proxy_location }} {
{% if NGINX_allowed_ips is defined %}
{% for item in NGINX_allowed_ips %}
        allow {{ item }};
{% endfor %}
        deny all;
{% endif %}
{% if NGINX_cache_data == true %}
            expires 1M;
{% endif %}
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst }} nodelay;
{% endif %}
{% if NGINX_gen_htpasswd %}
            # Base auth
            auth_basic "Restricted";
            auth_basic_user_file /etc/nginx/htpasswd_{{ NGINX_server_name }};
{% endif %}
            # needed to forward user's IP address
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 50m;
            # needed for HTTPS
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
{% if NGINX_pass_header == true %}
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% endif %}
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass {{ NGINX_proto | default('http') }}://{{ NGINX_proxy_ip | default('127.0.0.1') }}:{{ NGINX_proxy_port }};
            break;
        }
{% if NGINX_static_content == true %}
        location /wp-content/ {
            root /data/git/{{ WORDPRESS_git_repo_name }}/webcontent;
            aio threads;
{% if NGINX_cache_data == true %}
            expires 1y;
{% endif %}
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst_stat }} nodelay;
{% endif %}
        }
{% endif %}
{% if NGINX_cache_data == true %}
        location ~* ^.+\.(ogg|ogv|svg|svgz|eot|otf|mp4|ttf|rss|atom|jpeg|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
            expires 1M;
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst_stat }} nodelay;
{% endif %}
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 20m;
            # needed for HTTPS
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass http://127.0.0.1:8080;
            break;
        }
        location ~* ^.+\.(css|js|png|woff2|woff|jpg|gif)$ {
            expires 1y;
{% if NGINX_dos_protect == true %}
            limit_req zone=mylimit burst={{ NGINX_dos_protect_burst_stat }} nodelay;
{% endif %}
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 20m;
            # needed for HTTPS
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass http://127.0.0.1:8080;
            break;
        }
{% endif %}

{% if NGINX_pma_port is defined %}
        location ^~ /pma/ {
            allow   141.101.6.204;
            deny    all;
{% if NGINX_pma_allowed_ips is defined %}
{% for item in NGINX_pma_allowed_ips %}
            allow {{ item }};
{% endfor %}
            deny all;
{% endif %}
            proxy_set_header        X-Real-IP           $remote_addr;
            client_max_body_size 50m;
            proxy_set_header        X-Forwarded-For     $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto   $scheme;
            proxy_set_header        Host                $http_host;
            proxy_pass_header       Set-Cookie;
            proxy_pass_header       Cache-Control;
            proxy_pass_header       Expires;
            proxy_pass_header       Pragma;
{% if NGINX_ws_root == true %}
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
{% endif %}
            proxy_redirect off;
            proxy_max_temp_file_size 0;
            proxy_connect_timeout 75s;
            proxy_read_timeout 75s;
            proxy_send_timeout 75s;
            proxy_pass http://{{ NGINX_proxy_ip }}:{{ NGINX_pma_port }}/;
            break;
        }
{% endif %}
{% if NGINX_extra_locations is defined %}
{% for item in NGINX_extra_locations %}
        location {{ item.location }} {
            {{ item.contents|indent(12) }}
        }
{% endfor %}
{% endif %}
{% if NGINX_ssl_letsencypt == true %}
    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root /etc/letsencrypt;
        try_files $uri $uri/ =404;
        auth_basic          off;
    }
{% endif %}

{% if NGINX_websocket_enable == true %}
        location /{{ NGINX_websocket_location }}/ {
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_pass {{ NGINX_websocket_proxy_proto | default('http') }}://{{ NGINX_websocket_proxy_ip | default(NGINX_proxy_ip) }}{% if NGINX_websocket_proxy_port is defined %}:{{ NGINX_websocket_proxy_port }}{% else %}/ws/{% endif %};
            proxy_read_timeout 86400;
            break;
        }
{% endif %}
{% endif %}
}
